<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Get reminders of all important stuff in life">
        <meta name="keywords" content="Reminder, Notification">
        <meta name="author" content="Oskar Lindgren">
        <link rel='stylesheet' href='/content/stylesheets/style.css' />
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    </head>
    <body>
        <div id="header">
            <h1>RMDR 0.1</h1>
            <a href="/webclient" >Start</a>
            <a href="/webclient/create" >New Reminder</a>
            <a href="/webclient/about" >About</a>
        </div>
        <div id="content">
            {{{body}}}
        </div>
        <div id="footer">
            This app is made by Krets.
        </div>
        
        
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<!--        <script src="/content/javascripts/script.js"></script>-->
    </body>
</html>