    <div>
        <h2>Reminders</h2>

        {{#items}}
        <form class="taskForm" action="/webclient" method="POST">
            <p>{{title}}</p>
            <input type="hidden" name="id" value="{{_id}}" />
            <input type="submit" name="change" value="change" />
            <input type="submit" name="delete" value="delete" />
        </form>
        {{/items}}

    </div>