    <div>
        {{#item}}
            <h2>Change Reminder</h2>
        {{/item}}
        {{^item}}
            <h2>Create new Reminder</h2>
        {{/item}}
        <form id="createForm" action="/reminder" method="POST">
            <input type="hidden" name="_id" value="{{item._id}}" />
            <input type="text" placeholder="title" name="title" value="{{item.title}}" />
            <input type="text" placeholder="description" name="description" value="{{item.description}}" />
            <input type="date" placeholder="date" name="datetoshow" value="{{item.dateToShow}}" />
            <input type="time" placeholder="time" name="timetoshow" value="{{item.timeToShow}}" />
            <input type="text" placeholder="category" name="category" value="{{item.category}}" />
            
            {{#item}}
                <input type="submit" name="change" value="change" />
            {{/item}}
            {{^item}}
                <input type="submit" name="create" value="create" />
            {{/item}}
        </form>
    </div>