body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


/* --- Page: Index --- */

.taskForm > p {
    margin: 5px;
    width: 200px;
}
.taskForm > p,
.taskForm > input:first-of-type {
    float: left;
}


/* --- Page: Create --- */

#createForm {
    width: 200px;
}


/* --- Layout --- */
#header {

}

h1 {
    background: #FFDB99;
}

#footer {
    margin-top: 100px;
    border-top: 1px solid #666;
}